 #linkk a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  h2{
    text-align: center;
    color: rgb(240, 15, 15);

  }
  p{
    text-align: center;
    color: rgb(255, 255, 255);

  }
  body {
    background-color: rgb(14, 22, 33);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(34, 44, 55);
    color: white;
    margin: 0;
  }


  .uploadContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Добавляем верхний отступ для центрирования */
  }

  /* Скрываем элемент file input */
  #fileInput {
    display: none;
  }

  /* Стили для метки, которая будет выглядеть как кнопка */
  .uploadButton {
    padding: 10px 20px;
    background-color: rgb(34, 44, 55);
    color: white;
    border: none;
    border-radius: 5px; /* Добавляем закругленные углы */
    cursor: pointer;
  }

  /* Дополнительные стили для метки при наведении */
  .uploadButton:hover {
    background-color: rgb(30, 38, 49);
  }
  #expiryButtons button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgb(34, 44, 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #expiryButtons button:hover {
    background-color: rgb(30, 38, 49);
  }

  #downloadLink {
    text-align: center;
    margin: 20px 0;
  }

  #downloadLink a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  #api {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  #api a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
  }

